
* {
    margin: 0;
    padding: 0;
   font-family:  "Zilla Slab", serif;

  }
  
  body {
    margin: 0; /* Remove default body margin for better centering */
    font-family: Arial, sans-serif; /* Set a default font family */
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-image: url(images/bg\ 2.jpg);
    background-size: cover;
    height: 100vh;

  }
  
  h2, p, ol, li{
    color: burlywood;
    text-shadow: 2px 2px 10px rgb(0, 0, 0);
  }

  h5 {
    background-color: rgb(232, 202, 126);
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 30px;

  }

  p, ol, li {
font-size: 1.1rem;
text-shadow: 2px 1px 10px rgb(0, 0, 0);

  }

  
  .container{
    align-items: center;
    column-gap: 2.3rem;
    background-image: url(images/poem\ bg.jpg);
    background-size: cover;
    background-position: 50%;
    padding: 2rem;
    border-radius: 1rem;
    border: solid 0.5rem rgba(163, 62, 246, 0.377);
    right: 220px;
    width: 47rem;
    height: 39rem;
  }


  .btn{
    margin-top: 2rem;
    width: 5rem;
    background-image: url(images/poem.jpg);
    background-position: 60%;      
    border-color: blueviolet;
    border-radius: 0.3rem;
    font-size: 1rem;
    color: burlywood;
    filter: contrast(180%);
    text-shadow: 6px 6px 6px rgba(93, 21, 22, 0.929);
      }
  